.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#App-form{
  margin: 10px 10px 10px 10px;
  background-color: #1a2435c7;
  color: beige;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#App-form .inner{
  min-width: 270px;
  max-width: 350px;
  margin: 15px 15px 15px 15px ;
  background-color: #1a2435c7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item{
  margin: 5px 5px 0px 5px;
  text-align: left;
  display: flex;
  text-indent: -26px;
  padding-left: 25px;
}

#App-form .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#App-form .btn{
  align-self: center;
  margin: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
